---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SynapsX • About">
    <main transition:animate="fade">
        <h1>The SynapsX Vision</h1>
        <h2 class="subtitle">Transforming the EV Charging Experience</h2>
        <div class="divider"></div>

        <h2>Mission statement</h2>
        <p>At SynapsX, our mission is to revolutionize the EV charging experience by delivering intelligent, efficient,
            and user-focused solutions. We believe that accessible and reliable charging infrastructure is key to
            accelerating the global transition to electric vehicles.</p>
        <br><br>
        <h2>Our story</h2>
        <p>SynapsX was founded with the vision of bridging the gap between landowners and the fast-growing EV market.
            With a focus on innovation, sustainability, and ease of use, we aim to make EV charging simple and
            beneficial for everyone involved – from drivers to property owners.</p>
        <br><br>
        <h2>Core Values</h2>
        <p>Innovation: Leveraging cutting-edge technology to provide seamless EV charging solutions.
            Sustainability: Supporting the transition to a greener, more sustainable future.
            Partnership: Collaborating with landowners and businesses to create a mutually beneficial model.
            Reliability: Providing a robust and dependable charging network for all users.
        </p>
    </main>
</Layout>

<style>
    main {
        padding: 2rem;
    }

    .subtitle {
        color: #c4e201;
    }
</style>