---
import Layout from '../layouts/Layout.astro';
import RoundButton from "../components/RoundButton.astro";

---



<Layout title="SynapsX • Contact">
    <main transition:animate="fade">
        <div class="container">
            <h1>Contact Us</h1>

            <div class="form" id="form">
                <div class="row">
                    <div class="input-group">
                        <label class="label">Email</label>
                        <input autocomplete="on" name="email" id="email" class="input" type="email">
                    </div>
                    <div class="input-group">
                        <label class="label">Name</label>
                        <input autocomplete="off" name="name" id="name" class="input" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <label for="message" class="label">Message</label>
                        <textarea autocomplete="off" name="message" id="message" class="textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <RoundButton text="Send"></RoundButton>
                </div>

            </div>

        </div>

    </main>
</Layout>


<script>
    const btn = document.getElementsByClassName("rounded");

    const send = () => {
        const email = document.getElementById("email")?.value;
        const name = document.getElementById("name")?.value;
        const message = document.getElementById("message")?.value;
        console.log(email, name, message);

    }
    btn[0].addEventListener("click", send);

</script>




<style lang="scss">

    .container {
        margin: 10rem 2rem;
    }

    .form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 1rem;
    }

    .row {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: center;
    }

    .input {
        max-width: 190px;
        height: 44px;
        background-color: #05060f0a;
        border-radius: .5rem;
        padding: 0 1rem;
        border: 2px solid transparent;
        font-size: 1rem;
        transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
    }

    .textarea {
        width: 380px;
        background-color: #05060f0a;
        border-radius: .5rem;
        padding: 0 1rem;
        border: 2px solid transparent;
        font-size: 1rem;
        line-height: 25px;
        transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
    }

    .label {
        display: block;
        margin-bottom: .3rem;
        font-size: .9rem;
        font-weight: bold;
        color: #05060f99;
        transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
    }

    .input:hover, .input:focus, .input-group:hover .input {
        outline: none;
        border-color: #05060f;
    }

    .textarea:hover, .textarea:focus, .input-group:hover .textarea {
        outline: none;
        border-color: #05060f;
    }

    .input-group:hover .label, .input:focus, .textarea:focus {
        color: #05060fc2;
    }


    @media (max-width: 768px) {
        .row {
            justify-content: start;
        }
        .textarea {
            width: 100%;
        }
    }
</style>