---
import Layout from '../layouts/Layout.astro';

---


<Layout title="SynapsX • FAQ">
    <main transition:animate="fade">
        <h1>Frequently Asked Questions</h1>
        <div class="divider"></div>
        <h2>1. What are the costs involved for landowners?</h2>
        <p>None. SynapsX covers all costs related to installation, hardware, software, and maintenance.</p>

        <h2>2. How do I benefit as a property owner?</h2>
        <p>You’ll attract more visitors and increase property value by offering EV charging. Additionally, you’ll
            earn 5% of the profits generated, with an option to increase this to 10% with a $1,000 investment.
        </p>

        <h2>3. What types of properties qualify?</h2>
        <p>We work with a range of properties, including commercial, residential, and public spaces. Our team
            will assess your property to determine if it meets our installation requirements.
        </p>

        <h2>4. How does the profit-sharing work?</h2>
        <p>SynapsX operates the chargers and shares 5% of the profit with you. If you invest an additional $1,000,
            you’ll receive 10% of the profit instead.
        </p>

        <h2>5. Who manages maintenance and support?</h2>
        <p>SynapsX takes care of all maintenance, software updates, and equipment support to ensure optimal performance.</p>

        <h2>5. Who manages maintenance and support?</h2>
        <p>SynapsX takes care of all maintenance, software updates, and equipment support to ensure optimal performance.</p>
    </main>
</Layout>

<style>
    main {
        padding: 2rem;
    }
</style>
