---
import Layout from '../layouts/Layout.astro';
import Step from "../components/Step.astro";
import RoundButton from "../components/RoundButton.astro";
import Divider from "../components/Divider.astro";
import Card from "../components/Card.astro";
---

<Layout title="SynapsX">
	<main>
		<!-- Hero -->
		<section class="hero">
			<div class="video-container">
				<video autoplay muted loop playsinline id="video-intro">
					<source src="/video/intro_hd.mp4" type="video/mp4" />
				</video>
			</div>

			<div class="overlay"></div>
			<div class="background"></div>

			<div class="text-content">
				<h2 class="title">Powering the Future with Intelligent EV Charging Solutions</h2>
				<h5 class="subtitle">Smart EV charging solutions driving energy efficency, sustainability and innovation.</h5>
				<RoundButton text="LEARN MORE" onClick="window.location.href='/about'"></RoundButton>
			</div>
		</section>

		<section class="sentence">
			<p>
				Leading the transition to electric vehicles<br> by providing cutting-edge charging technology for<br>landowners, businesses, and drivers.
			</p>
		</section>
		<Divider></Divider>


		<section class="section1">

			<div class="container">
				<h2>Charging made easy</h2>
				<p>Whether you need to upgrade your workplace, apartment building, fleet or city, we have the right solution for you.</p>

				<div class="container-cards">
					<Card text="About Us" srcImg="/img/index/ev2.webp"/>
					<Card text="Our Product" srcImg="/img/index/ev1.webp"/>
					<Card text="Get Started" srcImg="/img/index/ev3.webp"/>
				</div>

			</div>
		</section>
		<Divider></Divider>

		<section class="section2">
			<div class="container">
				<div class="card">
					<div class="container_img"></div>
				</div>
				<div class="text">
					<h2>Take Action Today</h2>
					<p>Partnering with SynapsX is the easiest way to join the green evolution while enhancing your property.
						Don't miss this change to offer a valuable service to your clients or tenants and increase your earning potential.
					</p>
					<RoundButton text="Become a partner" onClick="window.location.href='/partners'"></RoundButton>
				</div>
			</div>

		</section>

		<section class="section3">
			<div class="container">
				<h2>Hassle-Free Experience</h2>
				<p>At SynpasX, we handle everything from start to finish.</p>
				<div class="container-cards">
					<Card text="Installation" srcImg="/img/index/ev2.webp"/>
					<Card text="Hardware & Software" srcImg="/img/index/ev1.webp"/>
					<Card text="Maintenance" srcImg="/img/index/ev3.webp"/>
				</div>
			</div>
		</section>
		<Divider></Divider>


		<!--<section class="property">

			<div class="container">
				<h2 class="title">How It Works</h2>
				<p>
					A Seamless EV Charging Solution for Your Property.<br>
					Here’s how SynapsX makes it easy to add EV chargers to your property, at zero cost to you.
				</p>

				<Step></Step>
			</div>


		</section>-->

		<section class="section_mobile">
			<div class="content1">
				<div>
					<h2>Charging made easy</h2>
					<p>
						Our charging experience ensures EV drivers<br />
						can get the charge they need,<br />
						when and how they want it.
					</p>
				</div>
				<img src="/img/mockup.webp" alt="mockup"/>
			</div>
			<div class="content2">
				<div class="card">
					<img src="/img/qrcode.png" alt="qrcode" class="qrcode"/>
					<div class="content">
						<h3>Download our Google app</h3>
						<p>Scan to download</p>
					</div>
					<img src="/img/icon/arrow-right.png" alt="arrow" class="icon"/>
				</div>
				<div class="card">
					<img src="/img/qrcode.png" alt="qrcode" class="qrcode"/>
					<div class="content">
						<h3>Download our Apple app</h3>
						<p>Scan to download</p>
					</div>
					<img src="/img/icon/arrow-right.png" alt="arrow" class="icon"/>
				</div>

			</div>


			<!--<div class="heading">
				<img src="/img/mockup.webp" alt="mockup" class="mockup" />
			</div>

			<div class="download-app-img">
				<a href="https://apps.apple.com/gb/app/" target="_blank">
					<img class="badge-img" decoding="async" loading="lazy" alt="App Store logo" src="/img/badge-app/badge-app-store.webp" srcset="/img/badge-app/badge-app-store.webp 449w, /img/badge-app/badge-app-store-300x89.webp 300w, /img/badge-app/badge-app-store-150x44.webp 150w" sizes="(max-width: 449px) 100vw, 449px">
				</a>
				<a href="https://play.google.com/store/apps/details?id=" target="_blank">
					<img class="badge-img" decoding="async" loading="lazy" alt="Google Play logo" src="/img/badge-app/badge-google.svg" srcset="" sizes="(max-width: 152px) 100vw, 152px">
				</a>
			</div>-->
		</section>

	</main>
</Layout>

<style>
	main {
		margin: 0;
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
	}

	.hero {
		position: relative;
		width: 100%;
		height: calc(100svh - 100px);
		animation-name: opacityAndWidth;
		animation-duration: 1ms; /* Firefox requires this to apply the animation */
		animation-direction: alternate;
		animation-timeline: scroll(block nearest);

		.background {
			height: calc(100svh - 100px);
			width: 40%;
			position: absolute;
			top:0;
			left:0;
			z-index: 1;
			background-image: url('/img/hero_bg.png');
		}

		.overlay {
			height: calc(100svh - 100px);
			width: 100%;
			position: absolute;
			top:0;
			left:0;
			z-index: 2;
			background-color: rgba(0,0,0, 0.5);
		}
	}

	.video-container {
		z-index: 1;
	}

	#video-intro {
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
	}

	.text-content {
		width: 50%;
		font-size: 3rem;
		color: rgba(255, 255, 255, 1);
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		position: absolute;
		left: 40%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;

		h5 {
			font-weight: 100;
		}
	}


	.sentence {
		position: relative;
		width: 100%;
		height: 500px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		animation-name: opacityAndWidthIn;
		animation-duration: 1ms; /* Firefox requires this to apply the animation */
		animation-direction: initial;
		animation-timeline: view();
	}

	.section1 {
		margin: 5rem 0;
		width: 100%;
		min-height: 80svh;
		background-image: url('/img/white_ background.png');
		background-size: cover;

		.container {
			padding: 2rem;
		}
		p {
			font-weight: 200;
			color: #333333;
		}

		.container-cards {
			padding: 3rem 0;
			display: flex;
			flex-flow: row wrap;
			gap: 1rem;
			justify-content: space-evenly;
		}
	}

	.section2 {
		margin: 5rem 0;
		padding: 5rem 0;
		min-height: 70svh;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		background-image: url('/img/dark_grey_background.png');
		background-size: cover;

		.container {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			gap: 5rem;
		}


		.card {
			width: 300px;
			height: 500px;
			border-radius: 20px;
			background-color: var(--white);
			display: flex;
			justify-content: center;
			align-items: center;

			.container_img {
				border-radius: 20px;
				height: 95%;
				width: 90%;
				background-image: url('/img/index/ev4.webp');
				background-size: cover;
			}
		}

		.text {
			width: 50%;

			p {
				padding: 2rem 0;
				font-size: 1.5rem;
			}
		}
	}


	.section3 {
		margin: 5rem 0;
		width: 100%;
		min-height: 80svh;
		background-image: url('/img/white_ background.png');
		background-size: cover;

		.container {
			padding: 2rem;
		}
		p {
			font-weight: 200;
			color: #333333;
		}

		.container-cards {
			padding: 3rem 0;
			display: flex;
			flex-flow: row wrap;
			gap: 1rem;
			justify-content: space-evenly;
		}
	}


	.section_mobile {
		margin: 5rem 0 0 0;
		width: 100%;
		min-height: 80svh;
		background-color: #f5f5f5;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		gap: 5rem;

		.container {
			padding: 2rem;
		}

		.content1 {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-evenly;

			img {
				height: 300px;
			}
		}

		.content2 {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
			gap: 5rem;

			.card {
				border-radius: 20px;
				background-color: var(--white);
				height: 100px;
				padding: 1rem;
				display: flex;
				flex-flow: row wrap;
				gap: 1rem;
				align-items: center;
				cursor: pointer;
				justify-content: space-between;

				.qrcode {
					height: 100%;
				}

				.icon {
					height: 50px;
				}

				h3 {
					margin: 0;
					padding-bottom: 1rem;
				}

				p {
					margin: 0;
					font-size: 1rem;
				}
			}
		}
	}


	.property {
		margin: 5rem 0;
		width: 100%;
		.container {
			padding: 2rem;
		}
	}

	.mobile {
		display: flex !important;
		flex-flow: column wrap;
		justify-content: center;


		.heading {
			padding: 2rem;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
		}

		.text {
			align-self: center;
			font-size: 1.2rem;
			animation-name: textAnimation;
			animation-duration: 1ms; /* Firefox requires this to apply the animation */
			animation-direction: initial;
			animation-timeline: view(block);
		}

		.mockup {
			width: 200px;
			padding-top: 60px;
			animation-name: mockupAnimation;
			animation-duration: 1ms; /* Firefox requires this to apply the animation */
			animation-direction: initial;
			animation-timeline: view(block);
		}
	}

	@media screen and (max-width: 979px) {
		.text-content {
			.title {
				font-size: 2rem;
			}
			.subtitle {
				font-size: 1.5rem !important;
			}
		}

		.section_mobile {
			padding: 5rem 0 5rem 0;
		}
	}

	@media screen and (max-width: 768px) {
		.section_mobile{

				.card {
					gap: 5px !important;
					width: 100%;
					height: 60px !important;
				}
		}
	}



</style>
