---
import Layout from '../layouts/Layout.astro';
---



<Layout title="SynapsX • Partners">
    <main transition:animate="fade">
        <section class="policy">
            <p>
                We at Synapsx Inc. (“we”, “us”, “our”, “Synapsx”) created this Privacy
                Policy ("Policy") because we know that you care about how information
                you provide to us is used and shared. We understand that privacy is
                important to our users, who use our website, including all subpages and
                successor pages (“Website”) and mobile applications, including iOS and
                Android applications (“App”).
            </p>

            <h2>1. What does this Privacy Policy apply to?</h2>
            <p>
                This Policy applies to the Synapsx Website and also applies to the
                Synapsx App. This Policy does not apply to any website, product or
                service of any third-party company even if the website links to (or is
                linked from) our Website. Synapsx does not operate or control those
                websites, products or services. Please always review the privacy
                practices of a company before deciding whether to provide any
                information (Please see section 7. Use of Third Parties for more
                information).
            </p>
            <p>
                By using our Website or App, you consent to and accept the practices
                described in this Policy. If you do not agree with this Policy, please
                delete all cookies from your internet browser cache after visiting our
                Website and do not visit or use our Website or App. Your continued use
                of our Website or App indicates your acceptance of this Policy.
            </p>

            <h2>2. Information collection and use</h2>
            <p>
                We collect information (1) when you provide it directly to us, (2) when
                we obtain verification information about you through trusted third
                parties (e.g. online payment platforms, banks) and (3) through packets
                of data that a website stores on your computer “cookies”. Our collection
                of this information helps Synapsx operate the Website and App, support
                clients in providing parking and billing services and expand and market
                our services.
            </p>

            <h3>Personal Information</h3>
            <p>
                The term “Personal Information”, as used in this Policy, refers to
                information that can be used to identify a specific person, their
                vehicle or any anonymous information (e.g., IP Address) that is linked
                to a specific person’s internet account. Personal information does not
                include aggregated anonymous information that can no longer be
                reasonably associated with a specific person.
            </p>
            <p>You have a right to view your Personal Information.</p>
            <p>
                We will keep your Personal Information accurate, complete and up-to-date
                with the information that you provide to us. If you request access to
                your Personal Information, we will inform you of the existence, use and
                disclosure of your Personal Information as allowed by law, and provide
                you access to that information. We will always ask for your consent
                before using your Personal Information for a purpose other than those
                described in this Privacy Policy.
            </p>

            <h3>Cookies</h3>
            <p>
                Similar to many commercial marketplaces, we use cookies and other
                technologies to collect non-personally-identifiable information from our
                Website. Cookies are a feature of web browser software that allows web
                servers to recognize the computer used to access a website. Information
                gathered through cookies may include information such as the date and
                time of visits, the pages viewed, IP addresses, links to/from any page,
                and time spent at a site. We use cookie data to measure web traffic and
                usage activity on our Website for purposes of improving and enhancing
                the functionality of our Website, to look for possible fraudulent
                activity, and to better understand the sources of traffic and
                transactions on our website and the websites of merchants that use our
                Website. You can choose to disable cookies for our Website but this may
                limit your ability to use our Website.
            </p>

            <h3>Web Server Logs</h3>
            <p>
                Web Server Log files are used to monitor, measure, analyze, improve, and
                troubleshoot our Website. The information may include the time and date
                of your visit to our website, pages viewed, links clicked and other
                non-personally identifying information.
            </p>

            <h3>Visitors</h3>
            <p>
                To simply browse our Website, you are not required to provide any
                Personal Information. However, we may gather non-personally-identifiable
                information, as described directly above, just for the purposes of
                monitoring and improving our Website. We will not share this information
                with third parties except as a necessary part of providing our Website
                and App, nor will we use it to target any advertisements to you.
            </p>

            <h3>Guests</h3>
            <p>
                When you register for a Synapsx account, we collect Personal Information
                when you voluntarily provide it to us, including but not limited to your
                name, company name, location, email address, and phone number, and
                account password, to set up your account. We will also collect
                information on your IP addresses, devices, and locations used to access
                Synapsx, which will be linked to your account for fraud detection and
                prevention purposes. We may also offer you the option of collecting
                information required to be provided at the time of parking to expedite
                the parking process. With your consent, we may also collect additional
                Personal Information in other ways including emails, surveys, and other
                forms of communication. Once you begin using the Service through your
                Synapsx account, we will keep records of your transactions and collect
                information of your other activities related to Synpasx.
            </p>
            <p>
                When you use Synapsx as a Guest, we will gather and store your payment
                card information, email address, mobile phone number, billing and
                shipping address, license plate number and vehicle make, model and year.
                We will use this information to complete transactions that you choose to
                make on our Website and App, but only in accordance with our Terms of
                Service. We may also share your contact information, but not your card
                information, with merchants as part of your transaction. We will not
                share this information with other third parties except as a necessary
                part of providing services for our Website and App. You should carefully
                review third party services privacy policies in section 7 to better
                understand how each uses your information. (Please see section 7. Use of
                Third Parties for more information).
            </p>

            <h3>Location Data</h3>
            <p>
                When you use certain features of Synapsx, in particular the App, we may
                receive, store and process different types of information about your
                location, including general information (e.g. IP address, postal code,
                zip code) and more specific information (e.g. GPS-based functionality on
                mobile devices used to access the Website or App). If you access the
                Website or App through a mobile device and you do not want your device
                to provide us with location-tracking information, you can disable the
                GPS or other location-tracking functions on your device, provided your
                device allows you to do this, but this may limit your ability to use our
                Website or App. See your device manufacturer’s instructions for further
                details.
            </p>

            <h3>Device Information</h3>
            <p>
                We may collect information about your mobile device, including, for
                example, the hardware model, operating system and version, software and
                file names and versions, preferred language, unique device identifier,
                advertising identifiers, serial number, device motion information, and
                mobile network information.
            </p>
            <h3>Children’s Online Privacy Protection Act</h3>
            <p>
                Our Website and App are directed to the general public aged 18 years of
                age or older. We do not knowingly collect information from children
                under 13 years of age or have any reasonable grounds for believing that
                children under the age of 13 are accessing our Website or using our App.
                If we learn that we have inadvertently collected Personal Information
                from a child under age 13, we will delete that information as quickly as
                possible.
            </p>

            <h2>3. Sharing and disclosure of information</h2>
            <p>
                Synapsx does not sell or rent your Personal Information to marketers or
                third parties. We may share your Personal Information with trusted third
                parties who are integral to the operation of our Website and App,
                including but not limited to financial institutions, payment processors,
                verification services and credit bureaus, Providers and their parking
                enforcement personnel or subcontractors as well as any third parties
                that you have directly authorized to receive your Personal Information.
                We may store your Personal Information in locations outside the direct
                control of Synapsx, for instance, on servers or databases co-located
                with Providers. If we offer links to third party service through Synapsx
                and you choose to access these services, you authorize the third party
                service to access your Synapsx account, you acknowledge that we may
                share payment transaction data and related information with the third
                party that provides the authorized application. The use of your
                information by such third parties will be subject to their applicable
                privacy policy, which you should carefully review before accessing the
                service.
            </p>
            <p>
                If Synapsx undertakes or is involved in any merger, acquisition,
                reorganization, going-public event, sale of assets or bankruptcy,
                insolvency or any similar event, then we may sell, transfer or share
                some or all of our assets, including your Personal Information. In this
                event, we will notify you before your Personal Information is
                transferred and becomes subject to a different privacy policy.
            </p>

            <h2>4. Choice and data retention</h2>
            <p>
                We are required to collect certain Personal Information to confirm your
                identity and comply with our obligations. If you elect not to provide
                Personal Information in optional fields it may limit your ability to use
                Synapsx. You can update your account information by signing on to our
                Website or App with your Synapsx account. We may occasionally email you
                with information about offers or new services. You can opt out of these
                email communications via an unsubscribe link included in such
                communications. However, you will continue to receive certain email
                communications related to your account including information regarding
                transactions and your relationship with Synapsx.
            </p>
            <p>
                Synapsx retains and destroys personal information in accordance with its
                data retention policy. We may retain personal information to provide you
                with information about your past account usage for tax and accounting
                purposes and for business purposes. If you close your account, we will
                make best efforts to delete or anonymize all of your personal
                information that is not required to be kept under our data retention
                policy within a reasonable time.
            </p>

            <h2>5. Protection of information</h2>
            <p>
                Although no data transmission can be guaranteed to be 100% secure, we
                take reasonable steps to protect Personal Information and prevent its
                misuse, loss, or unauthorized access or disclosure. Access to
                information is limited (through user/password credentials and software
                systems) to those employees who require it to perform their job
                functions. We use industry-standard Secure Socket Layer (SSL) encryption
                technology to safeguard the account registration process and sign-up
                information. Other security safeguards include but are not limited to
                data encryption, IP whitelisting, firewalls, and physical access
                controls to building and files.
            </p>

            <h2>6. Changes and notifications</h2>
            <p>
                We reserve the right, in our sole and absolute discretion, to make
                changes to this Policy. Please review this Policy periodically to check
                for updates. Synapsx will provide you with disclosures and alerts
                regarding this Policy by posting them on our Website or by sending an
                email to the email address listed in your Synpasx account.
            </p>
            <p>
                It’s important that you review any changed or modified privacy policy.
                If you do not wish to agree to the changed privacy policy, then we will
                not be able to continue providing the Website and App to you, and your
                only option will be to stop accessing the Website and App and deactivate
                your Synapsx account.
            </p>

            <h2>7. Use of Third Parties</h2>
            <p>
                Synapsx may uses a number of third party platforms that store data on
                how you interact with the site, including Auth0, Inc. and Stripe Inc.
                Use of those services is governed by the respective terms of use and
                privacy policies of those services as detailed below.
            </p>
            <p>
                Synapsx will not submit your data to any third parties not stated in
                this agreement without your permission.
            </p>
            <p>
                Use of Stripe Inc: We use a third-party payment platform to handle
                receipt of payment for transactions at Synpasx. In particular, we
                require you to submit payment information to Stripe Inc. (“Stripe”) and
                utilize Stripe to process payments on our behalf. For more information
                on the privacy practices of Stripe, please visit
                https://stripe.com/privacy.
            </p>
            <p>
                Stripe’s services are governed by Stripe’s terms of use which can be
                found at https://stripe.com/checkout/terms.
            </p>

            <h2>8. Unlawful activities</h2>
            <p>
                We reserve the right to co-operate with local, provincial, national and
                international authorities in investigations of improper or unlawful
                activities, and this may require the disclosure of personal information.
                We may also report to other organizations about improper or unlawful
                user activities on the Website or App, and this reporting may include
                disclosure of personal information relating to those individuals
                conducting such improper or unlawful activities.
            </p>

            <h2>9. Contact us</h2>
            <p>
                Please also review our Terms of Service agreement with Synpasx, which
                shall govern in the event of any inconsistency with this Privacy Policy.
            </p>
            <p>
                If you have any questions, suggestions, or complaints about this Privacy
                Policy or any of our privacy-related practices, please contact us.
            </p>
            <p>Last Updated: August 22, 2024 Version 1.0</p>
        </section>
    </main>
</Layout>


<style>
    main {
        padding-top: 50px;
    }

    .policy {
        padding: 0 20px;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 2rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        margin-top: 1rem;
    }
</style>



