---

---


<footer class="footer">
    <div class="sitemap">
        <div class="div1">
            <img src="/img/footer/logo.svg" class="logo" alt="logo" />
        </div>
        <div class="div2">
            <h3>Navigation</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/partners">Partnership</a></li>
                <li><a href="/faq">Faq</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="div3">
            <h3>Contact Us</h3>
            <a class="email" href="mailto:info@synapsx.com">info@synapsx.com</a>
        </div>
        <div class="div4">
            <p>
                SynapsX leads the transaction to electric vehicle with innovative charging solutions for landowners, businesses, and drivers.
            </p>
        </div>
        <div class="div5">
            <h3>Support</h3>
            <ul>
                <li><a href="/">Ev Locations</a></li>
                <li><a href="/">Maintenance</a></li>
                <li><a href="/faq">Frequently Asked Questions</a></li>
            </ul>
        </div>
        <div class="div6">
            <h3>Locations</h3>
            <ul>
                <li><a href="https://www.google.com/maps/place/450+Townsend+St,+San+Francisco,+CA+94107,+Stati+Uniti/@37.774656,-122.4012062,17z/data=!3m1!4b1!4m6!3m5!1s0x808f7fd48a02f72d:0xc09cb7ed95343bea!8m2!3d37.774656!4d-122.3986313!16s%2Fg%2F11c2cjgj6y?entry=ttu&g_ep=EgoyMDI0MTAwNy4xIKXMDSoASAFQAw%3D%3D">San Francisco • 450 Townsend St, 94107, California</a></li>
                <li><a href="https://www.google.com/maps/place/Via+Edolo,+46,+20125+Milano+MI/@45.4950799,9.2052553,17z/data=!3m1!4b1!4m6!3m5!1s0x4786c72784c41263:0x75893f61d5a1aa9d!8m2!3d45.4950762!4d9.2078302!16s%2Fg%2F11bw3xb697?entry=ttu&g_ep=EgoyMDI0MTAwNy4xIKXMDSoASAFQAw%3D%3D">Milan • via Edolo 46, 20125, Italy</a></li>
                <li><a href="https://www.google.com/maps/place/18+Dupont+St+a,+Toronto,+ON+M5R+1V2,+Canada/@43.6773801,-79.4010365,17z/data=!3m1!4b1!4m5!3m4!1s0x882b34a0c32c6307:0xa9be5e787af7de56!8m2!3d43.6773762!4d-79.3984616?entry=ttu&g_ep=EgoyMDI0MTAwOC4wIKXMDSoASAFQAw%3D%3D">Toronto • 18 DuPont unit A, Ontario, Canada</a></li>
                <li><a href="https://www.google.com/maps/place/Al+Mina+St+-+Dubai+-+Emirati+Arabi+Uniti/@25.2467807,55.2755391,17z/data=!3m1!4b1!4m6!3m5!1s0x3e5f430fc741cf0f:0xf08af9c787fe108c!8m2!3d25.2467759!4d55.278114!16s%2Fg%2F1tkqyr6z?entry=ttu&g_ep=EgoyMDI0MTAwOC4wIKXMDSoASAFQAw%3D%3D">Dubai • P.O.BOX, 4276 Al Mina Road, UAE</a></li>
            </ul>
        </div>
        <div class="div7">
            <img src="/img/icon/instagram_icon_synapsx.png" alt="instagram logo" class="icon"/>
            <img src="/img/icon/linkedin_icon_synapsx.png" alt="linkedin logo" class="icon"/>
            <img src="/img/icon/facebook_icon_synapsx.png" alt="facebook logo" class="icon"/>

            <div class="app-badge">
                <a href="https://apps.apple.com/gb/app/" target="_blank">
                    <img class="badge-img" decoding="async" loading="lazy" alt="App Store logo" src="/img/badge-app/badge-app-store.webp" srcset="/img/badge-app/badge-app-store.webp 449w, /img/badge-app/badge-app-store-300x89.webp 300w, /img/badge-app/badge-app-store-150x44.webp 150w" sizes="(max-width: 449px) 100vw, 449px">
                </a>
                <a href="https://play.google.com/store/apps/details?id=" target="_blank">
                    <img class="badge-img" decoding="async" loading="lazy" alt="Google Play logo" src="/img/badge-app/badge-google.svg" srcset="" sizes="(max-width: 152px) 100vw, 152px">
                </a>
            </div>
        </div>
        <div class="div8">

        </div>
    </div>
    <div class="content2">
        <div class="links">
            <a href="/policy">Privacy Policy</a>
            <div>|</div>
            <a href="/terms">Terms of Use</a>
            <div>|</div>
            <a href="/contact">Contact Us</a>
        </div>
        <a href="https://synapsx.com/">© 2024 SynapsX. All rights reserved.</a>
        <!--<a href="/en/legal/">Legal Notice</a>
              <a href="/en/tos/">Terms of Service</a>
              <a href="/en/privacy/">Privacy</a>-->
    </div>
</footer>


<style lang="scss">
    footer {
        display: flex;
        flex-flow: column nowrap;
        border-top: 1px solid rgba(223, 230, 234, 1);


        .sitemap {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;
            padding: 2rem 2rem 0 2rem;
            background-image: url("/img/footer/bg.png");
            background-size: cover;

          h3 {
            margin: 0;
          }
        }

        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 1 / 3 / 2 / 4; }
        .div4 { grid-area: 2 / 1 / 3 / 2; }
        .div5 { grid-area: 2 / 2 / 3 / 3; }
        .div6 { grid-area: 2 / 3 / 3 / 4; }
        .div7 { grid-area: 3 / 1 / 4 / 2; }
        .div8 { grid-area: 3 / 2 / 4 / 4; }

        .logo {
            width: 200px;
        }

        h3 {
            color: var(--aqua-main);
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                margin: 0.5rem 0;
            }
        }

        a, p {
            font-size: 0.9rem;
            text-decoration: none;
            color: var(--white);
            cursor: pointer;
            &:hover {
                transition: all 0.2s linear;
                color: var(--aqua-accent);
            }
        }

        .icon {
            width: 50px;
            padding-right: 1rem;
            cursor: pointer;
            &:hover {
                transition: all 0.2s linear;
                filter: brightness(0.8);
            }
        }

        .app-badge {
            display: flex;
            flex-flow: row wrap;
            gap: 1rem;

            a,.badge-img {
                max-width: 150px;
                &:hover {
                    transition: all 0.2s linear;
                    filter: brightness(0.8);
                }
            }
        }


        .content2 {
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            text-align: center;
            gap: 1.5rem;
            align-items: flex-end;
            background: var(--aqua-gradient);

            span, a {
                font-size: 0.9rem;
                cursor: pointer;
                color: var(--white);
                text-decoration: none;
            }

            a:after {
                content: "";
                position: relative;
                bottom: -2px;
                left: 0;
                display: block;
                width: 100%;
                height: 1px;
                background-color: var(--white);
                transform: scale(0, 1);
                transform-origin: 100% 50%;
                transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            a:hover:after {
                transform: scale(1);
                transform-origin: 0 50%;
            }

            .links {
                display: flex;
                flex-flow: row nowrap;
                gap: 5px;
                color: var(--white);
            }
        }
    }


    @media (max-width: 768px) {
      footer {
        .div1 {
          img {
            width: 150px;
          }
        }
        .content2 {
          padding: 10px;
          a, span {
            font-size: 0.7rem;
          }
        }

        .sitemap {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(8, auto);
          .div1 { grid-area: auto;  }
          .div2 { grid-area: auto; }
          .div3 { grid-area: auto; }
          .div4 { grid-area: 2; }
          .div5 { grid-area: auto; }
          .div6 { grid-area: auto; }
          .div7 { grid-area: auto; }
          .div8 { grid-area: auto; }
        }
      }

    }

</style>