---

---


<nav>
    <img
            src="./img/logo-nav.webp"
            alt="logo"
            class="logo"
            id="logo-nav"
            onclick="imageClick('https://synapsx.com')"
    />

    <button type="button" class="button">
        <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier"> <g id="Menu / Menu_Duo_LG">
                <path id="Vector" d="M3 15H21M3 9H21" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
            </g>
        </svg>
    </button>

    <div class="nav-links">
        <a href="/" class="underline-link">Home</a>
        <a href="/about" class="underline-link">About</a>
        <a href="/partners" class="underline-link">Partnership</a>
        <a href="/faq" class="underline-link">Faq</a>
        <a href="/contact" class="underline-link">Contact</a>
    </div>
    <!--<button class="change-language">
            <span class="earth"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="earth" d="M6 11C7.48197 11 8.68334 8.76142 8.68334 6C8.68334 3.23858 7.48197 1 6 1M6 11C4.51804 11 3.31667 8.76142 3.31667 6C3.31667 3.23858 4.51804 1 6 1M6 11V1M6 11C8.76143 11 11 8.76142 11 6C11 3.23858 8.76143 1 6 1M6 11C3.23858 11 1 8.76142 1 6C1 3.23858 3.23858 1 6 1M1.41667 8H10.5833M1.41667 4H10.5833" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></svg></span>
            language
            <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 40 40"><path fill="currentColor" fill-rule="evenodd" d="m23.841 22.6 5.772-6.928-2.56-2.134-5.774 6.927a1.665 1.665 0 0 1-2.56 0l-5.773-6.927-2.56 2.134 5.772 6.928a5 5 0 0 0 7.683 0Z" clip-rule="evenodd"></path></svg>
        </button>-->


    <div class="mobile-menu">
        <svg width="30px" height="30px" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="close">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M3 21.32L21 3.32001" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M3 3.32001L21 21.32" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </svg>
        <div class="nav-links">
            <a href="/" class="link">Home</a>
            <a href="/about" class="link">About</a>
            <a href="/partners" class="link">Partnership</a>
            <a href="/faq" class="link">Faq</a>
            <a href="/contact" class="link">Contact</a>
        </div>
    </div>
</nav>

<script>
    document.querySelector('.button')?.addEventListener('click', () => {
        document.querySelector('.mobile-menu')?.classList.toggle('expanded');
    });
    document.querySelector('.close')?.addEventListener('click', () => {
        document.querySelector('.mobile-menu')?.classList.toggle('expanded');
    });

/*    const links = document.querySelectorAll('a.link');
    links.forEach((link) => {
        link.addEventListener('click', () => {
            //document.querySelector('.mobile-menu').classList.toggle('expanded');
        });
    });*/
</script>


<style>

    nav {
        margin: 10px;
        height: 80px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        /*backdrop-filter: blur(10px);*/

        .logo {
            position: relative;
            top: 0;
            height: 90%;
            opacity: 1;
            cursor: pointer;

            &:hover {
                height: 92%;
            }
        }

    }

    .mobile-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        display: none;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        &.expanded {
            display: flex;
        }
        .close {
            position: absolute;
            top: 32px;
            right: 22px;
            cursor: pointer;
        }

        .nav-links {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }

    .button {
        cursor: pointer;
        border: none;
        background-color: transparent;
        display: none;
    }

    .nav-links a {
        padding: 0 10px;
        color: #333;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        text-align: center;
    }


    @media (max-width: 768px) {
        .nav-links {
            display: none;
        }
        .button {
            display: block;
        }
    }
</style>