@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap');

$width-container: 98%;
$width-container2: 95%;

html {
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 2000px;
    color: #333;
    text-rendering: optimizeLegibility;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    overflow: hidden;
}

section {
    display: inline-block !important;
}

nav {
    width: $width-container;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /*backdrop-filter: blur(10px);*/

    .logo {
        position: relative;
        top: 80px;
        height: 90%;
        opacity: 0;
        cursor: pointer;

        &:hover {
            height: 92%;
        }
    }

    .logo-nav-animation {
        opacity: 1;
        top: 0;
        transition: opacity,top 0.1s linear;
        transition-delay: 0.8s;
    }
}

.body-enable-scroll {
    overflow: auto;
}

.subtitle {
    width: 60%;
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.hero {
    position: relative;
    width: $width-container;
    height: calc(94svh - 80px);
    animation-name: opacityAndWidth;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-direction: alternate;
    animation-timeline: scroll(block nearest);
}

.video-container {
    z-index: 1;
}

#video-intro {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 50px;
}

.intro-animation {
    transition: all 1s cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transform: translate(0, -130vh);
}

.subtitle-animation {
    transition: all 1.2s linear;
    transition-delay: 1.5s;
    opacity: 1 !important;
}

.footer-animation {
    transition: opacity 1s linear;
    transition-delay: 0.5s;
    opacity: 1 !important;
}

.change-language {
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
    top: -30px;
    background: none;
    color: #99A5A4;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: small;
    gap: 2px;

    .arrow-down {
        position: relative;
        top: 2px;
        width: 1rem;
        height: 1rem;
    }

    .earth {
        position: relative;
        top: 2px;
        stroke: #99A5A4;
    }
}


.contacts {
    margin-top: 50px;
    width: $width-container;
    height: 600px;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    color: black;
    display: flex !important;
    flex-flow: column nowrap;

    h1 {
        font-size: 3.7rem;
        margin: 5px 20px;
    }
}

.divider {
    width: 100%;
    height: 2px;
    background-color: rgba(223, 230, 234, 1);
    margin: 50px 0;
}

footer {
    margin-top: 150px;
    width: $width-container2;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-flow: column nowrap;

    .content1 {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-bottom: 150px;

        .logo-div {
            flex-grow: 1;
        }
        .logo {
            height: 100px;
            flex-shrink: 0;
        }
        p {
            font-size: 1.5rem;
            margin: 0;
            flex-grow: 1;
        }
    }

    .content3 {
        color: black;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 1.5rem;
        align-items: flex-end;
        padding-top: 50px;
        padding-bottom: 20px;

        span, a {
            font-size: 0.9rem;
            text-decoration: none;
            cursor: pointer;
            color: black;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    .content2 {
        padding-top: 50px;
        border-top: 1px solid rgba(223, 230, 234, 1);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
        p {
            margin: 0;
            flex-grow: 1;
            font-size: 0.9rem;
        }
        .sitemap {
            display: flex;
            flex-flow: row wrap;
            flex-grow: 1;
            gap: 20vw;

            .item {
                min-width: 150px;
                display: flex;
                flex-flow: column nowrap;
                h5 {
                    font-size: 0.9rem;
                    margin: 0;
                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    li {
                        margin: 0.5rem 0;
                        a, p {
                            font-size: 0.9rem;
                            text-decoration: none;
                            color: #9a9a9a;
                            cursor: pointer;
                            &:hover {
                                transition: all 0.2s linear;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

.divider {
    width: $width-container;
    height: 1px;
    background-color: rgb(223, 230, 234);
}

.sentence {
    width: $width-container;
    height: 300px;
    display: flex !important;
    justify-content: center;
    text-align: center;
    margin: 150px 0;
    align-items: center;
    animation-name: opacityAndWidthIn;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-direction: initial;
    animation-timeline: view();
}

.mobile {
    width: $width-container;
    margin: 50px 0;
    font-size: 2rem;
    display: flex !important;
    flex-flow: row wrap;
    justify-content: center;
    gap: 200px;

    .heading {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        h4 {
            display: inline-block;
        }
    }

    .text {
        color: #9a9a9a;
        line-height: 25px;
        font-size: 1.2rem;
        animation-name: textAnimation;
        animation-duration: 1ms; /* Firefox requires this to apply the animation */
        animation-direction: initial;
        animation-timeline: view(block);
    }

    .mockup {
        width: 200px;
        padding-top: 60px;
        animation-name: mockupAnimation;
        animation-duration: 1ms; /* Firefox requires this to apply the animation */
        animation-direction: initial;
        animation-timeline: view(block);
    }
}



.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    padding: 20px;
}

.cta {
    position: relative;
    padding: 17px;
    transition: all 0.2s ease;
    text-decoration: none;
    color: inherit;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #8e9eab;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background: rgb(223, 230, 234);
    border: 1px solid rgba(142, 158, 171, 0.5);
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.96);
}


@media screen and (max-width: 500px) {
    .contacts {
        height: 400px;

        h1 {
            font-size: 2rem;
        }
    }
    
}


@keyframes opacityAndWidth {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.8;
        width: 68%;
    }
}

@keyframes opacityAndWidthIn {
    0%   {
        font-size: 1rem;
        opacity: 0.1;
    }
    50%, 100%  {
        font-size: 2rem;
        opacity: 1;
    }
}

@keyframes textAnimation {
    0%, 25%   {
        opacity: 0;
    }
    30%, 100%  {
        opacity: 1;
    }
}

@keyframes mockupAnimation {
    0%, 25%   {
        transform: translate(100px);
        opacity: 0;
    }
    50%, 100%  {
        opacity: 1;
    }
}
