@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap');

$width-container: 98%;
$width-container2: 95%;

html {
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 2000px;
    color: #333;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    overflow: hidden;
}

nav {
    width: $width-container;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /*backdrop-filter: blur(10px);*/

    .logo {
        position: relative;
        top: 80px;
        height: 90%;
        opacity: 0;
        cursor: pointer;

        &:hover {
            height: 92%;
        }
    }

    .logo-nav-animation {
        opacity: 1;
        top: 0;
        transition: opacity,top 0.1s linear;
        transition-delay: 0.8s;
    }
}

.body-enable-scroll {
    overflow: auto;
}

.intro {
    width: min(100svw, 2000px);
    height: 100svh;
    background-color: white;
    z-index: 100;
    position: absolute;

    .logo-intro {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
    }

}

.subtitle {
    width: 60%;
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.video-container {
    width: $width-container;
    height: calc(94svh - 80px);
    position: relative;
    top: 0;
    z-index: 1;
}

#video-intro {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 50px;
}

.intro-animation {
    transition: all 1s cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transform: translate(0, -130vh);
}

.subtitle-animation {
    transition: all 1.2s linear;
    transition-delay: 1.5s;
    opacity: 1 !important;
}

.footer-animation {
    transition: opacity 1s linear;
    transition-delay: 0.5s;
    opacity: 1 !important;
}

.change-language {
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
    top: -30px;
    background: none;
    color: #99A5A4;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: small;
    gap: 2px;

    .arrow-down {
        position: relative;
        top: 2px;
        width: 1rem;
        height: 1rem;
    }

    .earth {
        position: relative;
        top: 2px;
        stroke: #99A5A4;
    }
}


.contacts {
    margin-top: 50px;
    width: $width-container;
    height: 600px;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    color: black;

    h1 {
        font-size: 4rem;
        margin: 5px 20px;
    }
}

.divider {
    width: 100%;
    height: 2px;
    background-color: rgba(223, 230, 234, 1);
    margin: 50px 0;
}

footer {
    margin-top: 50px;
    width: $width-container2;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-flow: column nowrap;

    .content1 {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-bottom: 50px;

        .logo-div {
            flex-grow: 1;
        }
        .logo {
            height: 100px;
            flex-shrink: 0;
        }
        p {
            font-size: 1.5rem;
            margin: 0;
            flex-grow: 1;
        }
    }

    .content3 {
        color: black;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 1.5rem;
        align-items: flex-end;
        padding-top: 50px;

        span, a {
            font-size: 0.9rem;
            text-decoration: none;
            cursor: pointer;
            color: black;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    .content2 {
        padding-top: 50px;
        border-top: 1px solid rgba(223, 230, 234, 1);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
        p {
            margin: 0;
            flex-grow: 1;
            font-size: 0.9rem;
        }
        .sitemap {
            display: flex;
            flex-flow: row wrap;
            flex-grow: 1;
            gap: 20vw;

            .item {
                min-width: 150px;
                display: flex;
                flex-flow: column nowrap;
                h5 {
                    font-size: 0.9rem;
                    margin: 0;
                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    li {
                        margin: 0.5rem 0;
                        a, p {
                            font-size: 0.9rem;
                            text-decoration: none;
                            color: #9a9a9a;
                            cursor: pointer;
                            &:hover {
                                transition: all 0.2s linear;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

.container {
    width: $width-container2;
    height: 300px;
    margin-top: 50px;
    font-size: 2rem;
}

